body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-header {
  text-align: center;
  padding: 20px;
  background-color: #4CAF50;
  color: white;
}

/*Here is the style for Question container*/

.question-container {
  height: 70vh;
  overflow-y: scroll;
  padding: 20px;
}

.card {
  background: white;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
}

.bookmark {
  position: absolute;
  right: 10px;
  top: 10px;
}

/*Here is the style for navbar*/

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  border-top: 1px solid #ccc;

  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

